# Ratings_cleaning musi zostać uruchomiony jako pierwszy
Notebook `Ratings_cleaning.ipynb` usuwa niektóre z wystawionych ocen, co zmniejsza ich liczbę u użytkowników. Następnie usuwa użytkowników, którzy mają mniej niż 20 ocen i zapisuje nowy zbiór danych do pliku `user_features_2.csv`.

In [15]:
import pandas as pd

In [16]:
df_train = pd.read_csv('../data/user_features_train_2.csv')
df_test = pd.read_csv('../data/user_features_test_2.csv')

In [17]:
print(df_train.info())
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125768 entries, 0 to 125767
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   userId                 125768 non-null  int64
 1   num_rating             125768 non-null  int64
 2   avg_rating             125768 non-null  float64
 3   weekend_watcher        125768 non-null  int64
 4   type_of_viewer         125768 non-null  object
 5   genre_Action           125316 non-null  float64
 6   genre_Adventure        125428 non-null  float64
 7   genre_Animation        113546 non-null  float64
 8   genre_Comedy           125576 non-null  float64
 9   genre_Crime            125026 non-null  float64
 10  genre_Documentary      54218 non-null   float64
 11  genre_Drama            125747 non-null  float64
 12  genre_Family           119939 non-null  float64
 13  genre_Fantasy          124296 non-null  float64
 14  genre_History          114718 non-null  float64
 15  genre_Horror           105963 non-null  float64
 16  genre_Musical          95647 non-null   float64
 17  genre_Mystery          122138 non-null  float64
 18  genre_Romance          123687 non-null  float64
 19  genre_Science Fiction  124799 non-null  float64
 20  genre_TV Movie         16376 non-null   float64
 21  genre_Thriller         125271 non-null  float64
 22  genre_War              115055 non-null  float64
 23  genre_Western          89021 non-null   float64
dtypes: float64(20), int64(3), object(1)
memory usage: 23.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31255 entries, 0 to 31254
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userId                 31255 non-null  int64
 1   num_rating             31255 non-null  int64
 2   avg_rating             31255 non-null  float64
 3   weekend_watcher        31255 non-null  int64
 4   type_of_viewer         31255 non-null  object
 5   genre_Action           31141 non-null  float64
 6   genre_Adventure        31174 non-null  float64
 7   genre_Animation        28393 non-null  float64
 8   genre_Comedy           31208 non-null  float64
 9   genre_Crime            31070 non-null  float64
 10  genre_Documentary      13628 non-null  float64
 11  genre_Drama            31247 non-null  float64
 12  genre_Family           29871 non-null  float64
 13  genre_Fantasy          30896 non-null  float64
 14  genre_History          28449 non-null  float64
 15  genre_Horror           26353 non-null  float64
 16  genre_Musical          23848 non-null  float64
 17  genre_Mystery          30325 non-null  float64
 18  genre_Romance          30782 non-null  float64
 19  genre_Science Fiction  31026 non-null  float64
 20  genre_TV Movie         4212 non-null   float64
 21  genre_Thriller         31137 non-null  float64
 22  genre_War              28573 non-null  float64
 23  genre_Western          21892 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 5.7+ MB
None

# Uzupełnienie brakujących ocen

In [18]:
genre_columns = ['genre_Action','genre_Adventure','genre_Animation','genre_Comedy','genre_Crime','genre_Documentary','genre_Drama','genre_Family','genre_Fantasy','genre_History','genre_Horror','genre_Musical','genre_Mystery','genre_Romance','genre_Science Fiction','genre_TV Movie','genre_Thriller','genre_War','genre_Western']

for col in genre_columns:
    df_train[col] = df_train[col].fillna(df_train['avg_rating'])
    df_test[col] = df_test[col].fillna(df_test['avg_rating'])

print(df_train.info())
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125768 entries, 0 to 125767
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   userId                 125768 non-null  int64
 1   num_rating             125768 non-null  int64
 2   avg_rating             125768 non-null  float64
 3   weekend_watcher        125768 non-null  int64
 4   type_of_viewer         125768 non-null  object
 5   genre_Action           125768 non-null  float64
 6   genre_Adventure        125768 non-null  float64
 7   genre_Animation        125768 non-null  float64
 8   genre_Comedy           125768 non-null  float64
 9   genre_Crime            125768 non-null  float64
 10  genre_Documentary      125768 non-null  float64
 11  genre_Drama            125768 non-null  float64
 12  genre_Family           125768 non-null  float64
 13  genre_Fantasy          125768 non-null  float64
 14  genre_History          125768 non-null  float64
 15  genre_Horror           125768 non-null  float64
 16  genre_Musical          125768 non-null  float64
 17  genre_Mystery          125768 non-null  float64
 18  genre_Romance          125768 non-null  float64
 19  genre_Science Fiction  125768 non-null  float64
 20  genre_TV Movie         125768 non-null  float64
 21  genre_Thriller         125768 non-null  float64
 22  genre_War              125768 non-null  float64
 23  genre_Western          125768 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 23.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31255 entries, 0 to 31254
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userId                 31255 non-null  int64
 1   num_rating             31255 non-null  int64
 2   avg_rating             31255 non-null  float64
 3   weekend_watcher        31255 non-null  int64
 4   type_of_viewer         31255 non-null  object
 5   genre_Action           31255 non-null  float64
 6   genre_Adventure        31255 non-null  float64
 7   genre_Animation        31255 non-null  float64
 8   genre_Comedy           31255 non-null  float64
 9   genre_Crime            31255 non-null  float64
 10  genre_Documentary      31255 non-null  float64
 11  genre_Drama            31255 non-null  float64
 12  genre_Family           31255 non-null  float64
 13  genre_Fantasy          31255 non-null  float64
 14  genre_History          31255 non-null  float64
 15  genre_Horror           31255 non-null  float64
 16  genre_Musical          31255 non-null  float64
 17  genre_Mystery          31255 non-null  float64
 18  genre_Romance          31255 non-null  float64
 19  genre_Science Fiction  31255 non-null  float64
 20  genre_TV Movie         31255 non-null  float64
 21  genre_Thriller         31255 non-null  float64
 22  genre_War              31255 non-null  float64
 23  genre_Western          31255 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 5.7+ MB
None

# Enkodowanie kolumny 'type_of_viewer'

In [19]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)

def encoder(df):
    encoded = ohe.fit_transform(df[['type_of_viewer']])
    encoded = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(['type_of_viewer']))
    encoded.index = df.index
    df = df.drop(columns=['type_of_viewer'])
    df = pd.concat([df, encoded], axis=1)

    return df

df_train = encoder(df_train)
df_test = encoder(df_test)

print(df_train.head(3))
print(df_test.head(3))

   userId  num_rating  avg_rating  weekend_watcher  genre_Action  \
0       1         141    3.531915                0      4.133333
1       2          52    4.269231                0      4.000000
2       3         147    3.588435                0      3.583333

   genre_Adventure  genre_Animation  genre_Comedy  genre_Crime  \
0         3.333333         3.531915      3.339623     4.285714
1         4.142857         4.875000      4.130435     4.000000
2         3.605263         3.961538      3.186275     3.346154

   genre_Documentary  ...  genre_Mystery  genre_Romance  \
0           3.000000  ...       4.272727       3.487805
1           4.269231  ...       4.750000       4.823529
2           3.588435  ...       3.875000       3.637931

   genre_Science Fiction  genre_TV Movie  genre_Thriller  genre_War  \
0               4.000000        3.531915        3.666667   3.555556
1               4.269231        4.269231        4.300000   3.000000
2               3.441176        3.588435        3.307692   4.000000

   genre_Western  type_of_viewer_negative  type_of_viewer_neutral  \
0       3.000000                      0.0                     1.0
1       4.269231                      0.0                     0.0
2       3.750000                      0.0                     1.0

   type_of_viewer_positive
0                      0.0
1                      1.0
2                      0.0

[3 rows x 26 columns]
   userId  num_rating  avg_rating  weekend_watcher  genre_Action  \
0       7          44    3.636364                1      3.000000
1      13          65    3.646154                0      3.631579
2      23          63    4.452381                0      4.250000

   genre_Adventure  genre_Animation  genre_Comedy  genre_Crime  \
0         3.250000         3.500000      3.571429     3.777778
1         3.222222         3.646154      3.461538     3.285714
2         4.214286         3.000000      4.437500     4.423077

   genre_Documentary  ...  genre_Mystery  genre_Romance  \
0           5.000000  ...       3.636364       3.454545
1           3.646154  ...       3.400000       3.684211
2           5.000000  ...       4.500000       4.000000

   genre_Science Fiction  genre_TV Movie  genre_Thriller  genre_War  \
0               3.166667        3.636364        3.636364   3.636364
1               3.500000        3.646154        3.535714   4.000000
2               4.210526        4.452381        4.433333   4.611111

   genre_Western  type_of_viewer_negative  type_of_viewer_neutral  \
0       3.500000                      0.0                     1.0
1       2.000000                      0.0                     1.0
2       4.452381                      0.0                     0.0

   type_of_viewer_positive
0                      0.0
1                      0.0
2                      1.0

[3 rows x 26 columns]

# Dołączenie ostatnich 20 ocenionych filmów ze zbioru ratings_clean_zlib.h5

In [20]:
ratings_df = pd.read_parquet('../data/ratings_clean_groupped_20.parquet')
df_train = pd.merge(df_train, ratings_df, on='userId')
df_test = pd.merge(df_test, ratings_df, on='userId')

# Normalizacja danych numerycznych

In [21]:
from sklearn.preprocessing import StandardScaler

columns_to_normalize = ['num_rating', 'avg_rating']
columns_to_normalize.extend(genre_columns)
print('Columns to normalize:', columns_to_normalize)

scaler = StandardScaler()

df_train[columns_to_normalize] = scaler.fit_transform(df_train[columns_to_normalize])
print(df_train.head(3))

Columns to normalize: ['num_rating', 'avg_rating', 'genre_Action', 'genre_Adventure', 'genre_Animation', 'genre_Comedy', 'genre_Crime', 'genre_Documentary', 'genre_Drama', 'genre_Family', 'genre_Fantasy', 'genre_History', 'genre_Horror', 'genre_Musical', 'genre_Mystery', 'genre_Romance', 'genre_Science Fiction', 'genre_TV Movie', 'genre_Thriller', 'genre_War', 'genre_Western']
   userId  num_rating  avg_rating  weekend_watcher  genre_Action  \
0       1   -0.171417   -0.543450                0      0.840566
1       2   -0.455905    1.083413                0      0.613863
2       3   -0.152238   -0.418739                0     -0.094582

   genre_Adventure  genre_Animation  genre_Comedy  genre_Crime  \
0        -0.549841        -0.302503     -0.598797     0.839517
1         0.853034         1.555059      0.872001     0.308963
2        -0.078597         0.291690     -0.884002    -0.905189

   genre_Documentary  ...  genre_TV Movie  genre_Thriller  genre_War  \
0          -1.203553  ...       -0.430563       -0.177439  -0.584271
1           0.646660  ...        0.874753        1.019135  -1.431464
2          -0.345765  ...       -0.330501       -0.855658   0.093484

   genre_Western  type_of_viewer_negative  type_of_viewer_neutral  \
0      -1.034965                      0.0                     1.0
1       0.692980                      0.0                     0.0
2      -0.013906                      0.0                     1.0

   type_of_viewer_positive                                         movies_seq  \
0                      0.0  [25, 1041, 1357, 1406, 1693, 307, 1056, 1228, ...
1                      1.0  [31, 193, 276, 551, 237, 585, 508, 218, 381, 2...
2                      0.0  [5349, 4896, 5816, 6333, 4016, 6365, 6539, 529...

                                         ratings_seq  \
0  [1.0, 5.0, 1.0, 2.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...
1  [5.0, 3.0, 4.0, 4.0, 5.0, 4.0, 5.0, 5.0, 5.0, ...
2  [3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0, 5.0, 4.0, ...

                                              ts_seq
0  [1999-12-03T19:43:48.000000, 1999-12-03T20:32:...
1  [1996-07-03T19:58:22.000000, 1996-07-03T19:58:...
2  [2004-05-13T21:59:15.000000, 2004-05-13T21:59:...

[3 rows x 29 columns]

## Dla danych testowych

In [22]:
df_test[columns_to_normalize] = scaler.transform(df_test[columns_to_normalize])
print(df_test.head(3))

   userId  num_rating  avg_rating  weekend_watcher  genre_Action  \
0       7   -0.481476   -0.312987                1     -1.086407
1      13   -0.414350   -0.291385                0     -0.012552
2      23   -0.420743    1.487528                0      1.038931

   genre_Adventure  genre_Animation  genre_Comedy  genre_Crime  \
0        -0.694255        -0.346643     -0.167671    -0.103690
1        -0.742393        -0.144504     -0.372051    -1.017421
2         0.976817        -1.038171      1.443098     1.094591

   genre_Documentary  ...  genre_TV Movie  genre_Thriller  genre_War  \
0           1.711934  ...       -0.245651       -0.234691  -0.461043
1          -0.261627  ...       -0.228318       -0.424850   0.093484
2           1.711934  ...        1.198995        1.271045   1.025397

   genre_Western  type_of_viewer_negative  type_of_viewer_neutral  \
0      -0.354259                      0.0                     1.0
1      -2.396376                      0.0                     1.0
2       0.942323                      0.0                     0.0

   type_of_viewer_positive                                         movies_seq  \
0                      0.0  [19, 21, 34, 367, 410, 435, 500, 586, 39, 432,...
1                      0.0  [1674, 3101, 4661, 733, 225, 1608, 3755, 912, ...
2                      1.0  [160980, 176751, 197691, 143385, 209595, 15769...

                                         ratings_seq  \
0  [3.0, 5.0, 4.0, 3.0, 4.0, 2.0, 4.0, 3.0, 3.0, ...
1  [3.0, 4.0, 3.0, 3.0, 4.0, 4.0, 3.0, 4.0, 4.0, ...
2  [4.5, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...

                                              ts_seq
0  [1996-08-18T16:32:12.000000, 1996-08-18T16:32:...
1  [2001-07-24T04:56:05.000000, 2001-07-24T04:56:...
2  [2020-08-01T20:25:42.000000, 2020-08-12T15:16:...

[3 rows x 29 columns]

# Konwersja kolumny weekend_watcher do float64

In [23]:
df_train['weekend_watcher'] = df_train['weekend_watcher'].astype('float64')
df_test['weekend_watcher'] = df_test['weekend_watcher'].astype('float64')

In [24]:
print('\', \''.join(df_train.columns.to_list()))

userId', 'num_rating', 'avg_rating', 'weekend_watcher', 'genre_Action', 'genre_Adventure', 'genre_Animation', 'genre_Comedy', 'genre_Crime', 'genre_Documentary', 'genre_Drama', 'genre_Family', 'genre_Fantasy', 'genre_History', 'genre_Horror', 'genre_Musical', 'genre_Mystery', 'genre_Romance', 'genre_Science Fiction', 'genre_TV Movie', 'genre_Thriller', 'genre_War', 'genre_Western', 'type_of_viewer_negative', 'type_of_viewer_neutral', 'type_of_viewer_positive', 'movies_seq', 'ratings_seq', 'ts_seq

# Zapis do pliku

In [25]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125768 entries, 0 to 125767
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   userId                   125768 non-null  int64
 1   num_rating               125768 non-null  float64
 2   avg_rating               125768 non-null  float64
 3   weekend_watcher          125768 non-null  float64
 4   genre_Action             125768 non-null  float64
 5   genre_Adventure          125768 non-null  float64
 6   genre_Animation          125768 non-null  float64
 7   genre_Comedy             125768 non-null  float64
 8   genre_Crime              125768 non-null  float64
 9   genre_Documentary        125768 non-null  float64
 10  genre_Drama              125768 non-null  float64
 11  genre_Family             125768 non-null  float64
 12  genre_Fantasy            125768 non-null  float64
 13  genre_History            125768 non-null  float64
 14  genre_Horror             125768 non-null  float64
 15  genre_Musical            125768 non-null  float64
 16  genre_Mystery            125768 non-null  float64
 17  genre_Romance            125768 non-null  float64
 18  genre_Science Fiction    125768 non-null  float64
 19  genre_TV Movie           125768 non-null  float64
 20  genre_Thriller           125768 non-null  float64
 21  genre_War                125768 non-null  float64
 22  genre_Western            125768 non-null  float64
 23  type_of_viewer_negative  125768 non-null  float64
 24  type_of_viewer_neutral   125768 non-null  float64
 25  type_of_viewer_positive  125768 non-null  float64
 26  movies_seq               125768 non-null  object
 27  ratings_seq              125768 non-null  object
 28  ts_seq                   125768 non-null  object
dtypes: float64(25), int64(1), object(3)
memory usage: 27.8+ MB

In [26]:
df_train.to_parquet('../data/user_features_clean_train.parquet', compression='brotli')

In [27]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31255 entries, 0 to 31254
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   userId                   31255 non-null  int64
 1   num_rating               31255 non-null  float64
 2   avg_rating               31255 non-null  float64
 3   weekend_watcher          31255 non-null  float64
 4   genre_Action             31255 non-null  float64
 5   genre_Adventure          31255 non-null  float64
 6   genre_Animation          31255 non-null  float64
 7   genre_Comedy             31255 non-null  float64
 8   genre_Crime              31255 non-null  float64
 9   genre_Documentary        31255 non-null  float64
 10  genre_Drama              31255 non-null  float64
 11  genre_Family             31255 non-null  float64
 12  genre_Fantasy            31255 non-null  float64
 13  genre_History            31255 non-null  float64
 14  genre_Horror             31255 non-null  float64
 15  genre_Musical            31255 non-null  float64
 16  genre_Mystery            31255 non-null  float64
 17  genre_Romance            31255 non-null  float64
 18  genre_Science Fiction    31255 non-null  float64
 19  genre_TV Movie           31255 non-null  float64
 20  genre_Thriller           31255 non-null  float64
 21  genre_War                31255 non-null  float64
 22  genre_Western            31255 non-null  float64
 23  type_of_viewer_negative  31255 non-null  float64
 24  type_of_viewer_neutral   31255 non-null  float64
 25  type_of_viewer_positive  31255 non-null  float64
 26  movies_seq               31255 non-null  object
 27  ratings_seq              31255 non-null  object
 28  ts_seq                   31255 non-null  object
dtypes: float64(25), int64(1), object(3)
memory usage: 6.9+ MB

In [28]:
df_test.to_parquet('../data/user_features_clean_test.parquet', compression='brotli')