# Ratings_cleaning musi zostać uruchomiony jako pierwszy
Notebook `Ratings_cleaning.ipynb` usuwa niektóre z wystawionych ocen, co zmniejsza ich liczbę u użytkowników. Następnie usuwa użytkowników, którzy mają mniej niż 20 ocen i zapisuje nowy zbiór danych do pliku `user_features_2.csv`.

In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('../datasets/user_features_2.csv')

In [53]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200846 entries, 0 to 200845
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   userId                 200846 non-null  int64
 1   num_rating             200846 non-null  int64
 2   avg_rating             200846 non-null  float64
 3   weekend_watcher        200846 non-null  int64
 4   type_of_viewer         200846 non-null  object
 5   genre_Action           199613 non-null  float64
 6   genre_Adventure        199878 non-null  float64
 7   genre_Animation        173940 non-null  float64
 8   genre_Comedy           200378 non-null  float64
 9   genre_Crime            198682 non-null  float64
 10  genre_Documentary      72068 non-null   float64
 11  genre_Drama            200781 non-null  float64
 12  genre_Family           188451 non-null  float64
 13  genre_Fantasy          196283 non-null  float64
 14  genre_History          173911 non-null  float64
 15  genre_Horror           158280 non-null  float64
 16  genre_Music            137744 non-null  float64
 17  genre_Mystery          189631 non-null  float64
 18  genre_Romance          196312 non-null  float64
 19  genre_Science Fiction  197922 non-null  float64
 20  genre_TV Movie         21381 non-null   float64
 21  genre_Thriller         199544 non-null  float64
 22  genre_War              171714 non-null  float64
 23  genre_Western          127949 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 36.8+ MB
None

# Uzupełnienie brakujących ocen

In [54]:
genre_columns = ['genre_Action','genre_Adventure','genre_Animation','genre_Comedy','genre_Crime','genre_Documentary','genre_Drama','genre_Family','genre_Fantasy','genre_History','genre_Horror','genre_Music','genre_Mystery','genre_Romance','genre_Science Fiction','genre_TV Movie','genre_Thriller','genre_War','genre_Western']

for col in genre_columns:
    df[col] = df[col].fillna(df['avg_rating'])

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200846 entries, 0 to 200845
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   userId                 200846 non-null  int64
 1   num_rating             200846 non-null  int64
 2   avg_rating             200846 non-null  float64
 3   weekend_watcher        200846 non-null  int64
 4   type_of_viewer         200846 non-null  object
 5   genre_Action           200846 non-null  float64
 6   genre_Adventure        200846 non-null  float64
 7   genre_Animation        200846 non-null  float64
 8   genre_Comedy           200846 non-null  float64
 9   genre_Crime            200846 non-null  float64
 10  genre_Documentary      200846 non-null  float64
 11  genre_Drama            200846 non-null  float64
 12  genre_Family           200846 non-null  float64
 13  genre_Fantasy          200846 non-null  float64
 14  genre_History          200846 non-null  float64
 15  genre_Horror           200846 non-null  float64
 16  genre_Music            200846 non-null  float64
 17  genre_Mystery          200846 non-null  float64
 18  genre_Romance          200846 non-null  float64
 19  genre_Science Fiction  200846 non-null  float64
 20  genre_TV Movie         200846 non-null  float64
 21  genre_Thriller         200846 non-null  float64
 22  genre_War              200846 non-null  float64
 23  genre_Western          200846 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 36.8+ MB
None

# Enkodowanie kolumny 'type_of_viewer'

In [55]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)
encoded = ohe.fit_transform(df[['type_of_viewer']])
encoded = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(['type_of_viewer']))

encoded.index = df.index
df = df.drop(columns=['type_of_viewer'])
df = pd.concat([df, encoded], axis=1)

print(df.info())
print()
print(df.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200846 entries, 0 to 200845
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   userId                   200846 non-null  int64
 1   num_rating               200846 non-null  int64
 2   avg_rating               200846 non-null  float64
 3   weekend_watcher          200846 non-null  int64
 4   genre_Action             200846 non-null  float64
 5   genre_Adventure          200846 non-null  float64
 6   genre_Animation          200846 non-null  float64
 7   genre_Comedy             200846 non-null  float64
 8   genre_Crime              200846 non-null  float64
 9   genre_Documentary        200846 non-null  float64
 10  genre_Drama              200846 non-null  float64
 11  genre_Family             200846 non-null  float64
 12  genre_Fantasy            200846 non-null  float64
 13  genre_History            200846 non-null  float64
 14  genre_Horror             200846 non-null  float64
 15  genre_Music              200846 non-null  float64
 16  genre_Mystery            200846 non-null  float64
 17  genre_Romance            200846 non-null  float64
 18  genre_Science Fiction    200846 non-null  float64
 19  genre_TV Movie           200846 non-null  float64
 20  genre_Thriller           200846 non-null  float64
 21  genre_War                200846 non-null  float64
 22  genre_Western            200846 non-null  float64
 23  type_of_viewer_negative  200846 non-null  float64
 24  type_of_viewer_neutral   200846 non-null  float64
 25  type_of_viewer_positive  200846 non-null  float64
dtypes: float64(23), int64(3)
memory usage: 39.8 MB
None

   userId  num_rating  avg_rating  weekend_watcher  genre_Action  \
0       1         141    3.531915                0      4.133333
1       2          52    4.269231                0      4.000000
2       3         147    3.588435                0      3.583333

   genre_Adventure  genre_Animation  genre_Comedy  genre_Crime  \
0         3.333333         3.531915      3.339623     4.285714
1         4.142857         4.875000      4.130435     4.000000
2         3.605263         3.961538      3.186275     3.346154

   genre_Documentary  ...  genre_Mystery  genre_Romance  \
0           3.000000  ...       4.272727       3.487805
1           4.269231  ...       4.750000       4.823529
2           3.588435  ...       3.875000       3.637931

   genre_Science Fiction  genre_TV Movie  genre_Thriller  genre_War  \
0               4.000000        3.531915        3.666667   3.555556
1               4.269231        4.269231        4.300000   3.000000
2               3.441176        3.588435        3.307692   4.000000

   genre_Western  type_of_viewer_negative  type_of_viewer_neutral  \
0       3.000000                      0.0                     1.0
1       4.269231                      0.0                     0.0
2       3.750000                      0.0                     1.0

   type_of_viewer_positive
0                      0.0
1                      1.0
2                      0.0

[3 rows x 26 columns]

# Dołączenie ostatnich 20 ocenionych filmów ze zbioru ratings_clean_zlib.h5

In [56]:
ratings_df = pd.read_parquet('../datasets/ratings_clean.parquet')
df = pd.merge(df, ratings_df, on='userId')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200846 entries, 0 to 200845
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   userId                   200846 non-null  int64
 1   num_rating               200846 non-null  int64
 2   avg_rating               200846 non-null  float64
 3   weekend_watcher          200846 non-null  int64
 4   genre_Action             200846 non-null  float64
 5   genre_Adventure          200846 non-null  float64
 6   genre_Animation          200846 non-null  float64
 7   genre_Comedy             200846 non-null  float64
 8   genre_Crime              200846 non-null  float64
 9   genre_Documentary        200846 non-null  float64
 10  genre_Drama              200846 non-null  float64
 11  genre_Family             200846 non-null  float64
 12  genre_Fantasy            200846 non-null  float64
 13  genre_History            200846 non-null  float64
 14  genre_Horror             200846 non-null  float64
 15  genre_Music              200846 non-null  float64
 16  genre_Mystery            200846 non-null  float64
 17  genre_Romance            200846 non-null  float64
 18  genre_Science Fiction    200846 non-null  float64
 19  genre_TV Movie           200846 non-null  float64
 20  genre_Thriller           200846 non-null  float64
 21  genre_War                200846 non-null  float64
 22  genre_Western            200846 non-null  float64
 23  type_of_viewer_negative  200846 non-null  float64
 24  type_of_viewer_neutral   200846 non-null  float64
 25  type_of_viewer_positive  200846 non-null  float64
 26  movies_seq               200846 non-null  object
 27  ratings_seq              200846 non-null  object
 28  ts_seq                   200846 non-null  object
dtypes: float64(23), int64(3), object(3)
memory usage: 44.4+ MB
None

In [57]:
df.to_parquet('../datasets/user_features_clean.parquet', compression='brotli')